<div class="seller-auth">
    <div class="signup" *ngIf="!showLogin">
               <h1>Seller Sign-Up</h1>
               <form #sellerSignUp="ngForm" class="common-form" (ngSubmit)="signUp(sellerSignUp.value)">
                <input class="form-input" type="text" placeholder="Enter name" name="name" ngModel>
                <input class="form-input" type="text" placeholder="Enter email" name="email" ngModel>
                <input class="form-input" type="password" placeholder="Enter password" name="password" ngModel>
                <button class="form-button">Sign Up</button>
                <a class="auth-toggle-link" (click)="openLogin()">Already Have Account ? Click to Login </a>
               </form>
    </div>

    <div class="login" *ngIf="showLogin" >
        <h1>Seller Login </h1>
        <p class="error-p"> {{authError }} </p>
        <form #sellerLogin="ngForm" class="common-form" (ngSubmit)="login(sellerLogin.value)">
         <input class="form-input" type="text" placeholder="Enter email" name="email" ngModel>
         <input class="form-input" type="password" placeholder="Enter password" name="password" ngModel>
         <button class="form-button">Login</button>
         <a (click)="openSignUp()" class="auth-toggle-link">Don't have account  ? Click to Sign Up </a>
        </form>
</div>
</div>